:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  min-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  border-radius: 4px;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.social-item + .social-item {
  margin-left: 10px;
}

.team-social-list {
  display: flex;
  justify-content: center;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: 0;
}

.footer-subscription {
  margin-left: 100px;
}

.strong {
  display: block;
  font-size: 14px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  margin-bottom: 20px;
}

.subscription {
  display: flex;
}

.subscription-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  margin-right: 12px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-white-color);
  outline: none;
}

.subscription-input:focus, .subscription-input:hover {
  border: 1px solid var(--accent-color);
  color: var(--primary-title-color);
}

.subscription-btn {
  width: 200px;
  height: 50px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px 27px;
  align-items: center;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  color: var(--primary-title-color);
  background-color: #2196f3;
}

.subscription-btn:hover, .subscription-btn:focus {
  fill: var(--accent-color);
  border: var(--accent-color);
}

.subscription-icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.modal {
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: relative;
  padding: 40px;
}

.modal-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

.form-label {
  display: block;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding-left: 42px;
  padding-right: 20px;
  outline: none;
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus:focus + .input-icon {
  fill: var(--accent-color);
}

.modal-text-input {
  width: 100%;
  height: 120px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
  padding: 12px 16px;
  outline: none;
}

.modal-text-input:focus {
  border: 1px solid var(--accent-color);
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-wrapper {
  display: block;
  position: relative;
}

.modal-close-btn {
  width: 18px;
  height: 18px;
  justify-content: center;
  align-items: center;
}

.check-text {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 30px;
  margin-top: 20px;
}

.check-text span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid var(--secondary-text-color);
  margin-right: 9px;
}

.chek-link {
  color: var(--accent-color);
}

.modal-checkbox {
  display: block;
  margin-top: 20px;
}

.modal-checkbox:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}

.input-btn {
  width: 200px;
  height: 50px;
  display: block;
  margin: 0 auto;
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  border: none;
  background-color: #2196f3;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-btn:hover, .input-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-btn:hover, .modal-btn:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.header-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-logo-studio {
  color: #000000;
}

.header-conteiner {
  display: flex;
}

.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
  align-items: center;
}

.header-list .header-link.current {
  color: var(--accent-color);
}

.current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  display: block;
  bottom: 0px;
}

.header-list-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover, .header-link:focus {
  color: var(--accent-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-item:not(:last-child) {
  margin-right: 40px;
}

.header-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-tel-link:hover, .header-tel-link:focus {
  color: var(--accent-color);
}

.mail-tel-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts-item {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.main-section {
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/herobg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  background-size: cover;
  text-align: center;
  padding: 200px 0;
  margin: 0 auto;
}

.main-title {
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.main-button {
  padding: 10px 32px;
  cursor: pointer;
  font-weight: bold;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: #2196f3;
}

.peculiarities {
  padding-top: 94px;
  padding-bottom: 47px;
}

.peculiarities-list {
  display: flex;
  margin-left: -30px;
}

.peculiarities-item {
  width: 270px;
  flex-basis: calc(100% / 4 - 30px);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-title-color);
  margin-left: 30px;
}

.peculiarities-icon {
  width: 65px;
  height: 70px;
}

.peculiarities-item-icon {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.peculiarities-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  margin-bottom: 10px;
}

.peculiarities-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}

.about-us {
  padding-top: 47px;
  padding-bottom: 94px;
}

.about-us-list {
  display: flex;
  flex-basis: calc(100% / 3 - 90px);
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.about-us-item {
  margin-left: 30px;
  margin-top: 50px;
}

.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.about-us-name {
  position: relative;
}

.item-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.17;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-title-color);
  bottom: 0;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -50px;
}

.team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.team-item {
  flex-basis: calc(100% / 4 - 90px);
  margin-left: 30px;
  margin-top: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.team-personal-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
}

.team-personal-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-position {
  padding: auto;
  margin-top: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-title-color);
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  margin-left: -30px;
}

.clients-item {
  flex-basis: calc(100% / 6 - 30px);
  margin-left: 30px;
  display: flex;
  height: 92px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item-icon:hover .clients-icon,
.clients-item-icon:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-item-icon {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clients-item-icon:hover, .clients-item-icon:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.footer-link-address {
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-address:hover, .footer-link-address:focus {
  color: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-list {
  margin-top: 20px;
}

.footer-item {
  margin-top: 9px;
}

.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--primary-title-color);
  text-align: start;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-link:hover .social-icon,
.footer-social-link:hover .social-icon, .footer-social-link:focus .social-icon,
.footer-social-link:focus .social-icon {
  fill: #ffffff;
}

.footer-box {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.footer-social {
  margin-left: 70px;
}

.footer-tel-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-tel-link:hover, .footer-tel-link:focus {
  color: var(--accent-color);
}

.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.foter-studio {
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */